@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "PT Sans", sans-serif;
}


/* :root {
  --color-bg: #FFFBDE;
  --color-text: #0A0A0A;
  --color-primary: #096B68;
  --color-secondary: #129990;
  --color-accent: #90D1CA;
} */


/* [data-theme="dark"] {
  --color-bg: #0A0A0A;
  --color-text: #FFFBDE;
  --color-primary: #129990;
  --color-secondary: #90D1CA;
  --color-accent: #096B68;
} */


.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; 
}

.active{
  text-decoration: underline;
  text-decoration-color: #f47000;
  
}


